<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="/script.js" defer></script>
    <title>iOdigital CV online</title>
</head>

<body>

    <div class="flexbox-svg-container">
        <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg width="150"  version="1.1" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
<path class="st0" d="M125.42,78.6c12.61,0,22.86,10.26,22.86,22.86s-10.26,22.86-22.86,22.86s-22.86-10.26-22.86-22.86
	S112.82,78.6,125.42,78.6 M125.42,55.74c-25.25,0-45.72,20.47-45.72,45.72c0,25.25,20.47,45.72,45.72,45.72
	c25.25,0,45.72-20.47,45.72-45.72C171.15,76.21,150.68,55.74,125.42,55.74L125.42,55.74z"/>
<g>
	<path class="st0" d="M54.8,86.94L54.8,86.94l-21.54,48.38l24.26,10.8l10.74-24.13C74.22,108.6,68.19,92.9,54.8,86.94z"/>
	<path class="st0" d="M41.34,51.88c-5.96,13.4,0.06,29.09,13.46,35.06l10.8-24.26L41.34,51.88z"/>
</g>
</svg>
    </div>

    <!-- <svg width="91" height="61" viewBox="0 0 91 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="60.5" cy="30.5" r="30.5" fill="#4A7C59" />
        <circle class="svg-circle" cx="61" cy="30" r="18" />
        <path
            d="M2.61157 0L20.3196 7.17981L12.708 27.585V27.585C2.92816 23.6197 -2.01003 12.3896 1.67828 2.50197L2.61157 0Z"
            fill="#4A7C59" />
        <path
            d="M12.708 27.585V27.585C22.4879 31.5503 27.4261 42.7803 23.7378 52.668L20.6297 61L2.92171 53.8202L12.708 27.585Z"
            fill="#4A7C59" />
    </svg> -->