<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
    <title>iOdigital CV online</title>
</head>

<body>



    <div class="flexbox-svg-container">
        <svg width="91" height="61" viewBox="0 0 91 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="60.5" cy="30.5" r="30.5" fill="#4A7C59" />
            <circle class="svg-circle" cx="61" cy="30" r="18" />
            <path
                d="M2.61157 0L20.3196 7.17981L12.708 27.585V27.585C2.92816 23.6197 -2.01003 12.3896 1.67828 2.50197L2.61157 0Z"
                fill="#4A7C59" />
            <path
                d="M12.708 27.585V27.585C22.4879 31.5503 27.4261 42.7803 23.7378 52.668L20.6297 61L2.92171 53.8202L12.708 27.585Z"
                fill="#4A7C59" />
        </svg>
    </div>