<%- include('./partials/head.ejs') %>

<!-- LET OP!! De data moet uit het json bestand moeten worden gehaald -->

<h1>Beau Ter Ham</h1>
<h2>Senior Ninja Frontend Master</h2>

<ul class="skills-animation">
    <li>Angular</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>Scrum</li>
    <li>Cypress</li>
    <li>GraphQL</li>
    <li>Agile</li>
    <li>Jest</li>
    <li>JQuery</li>
    <li>AngularJS</li>
    <li>Ember</li>
    <li>Laravel</li>
    <li>SVN</li>
    <li>SAFe</li>
</ul>

<article>
    <h3>Introduction</h3>
    <p>
        Beau is an experienced frontend developer who likes to work on 
beautiful and user-friendly products. He studied graphic design. 
Throughout his career he worked in multiple areas of the development 
process and therefor can relate well with other stakeholders in the 
project. He likes to focus on complex frontend applications using the 
latest techniques, always trying to learn more
    </p>
</article>

<article>
    <h3>Motivation</h3>
    <p>
        Working at ING as a frontend developer sounds like an absolute dream. I mean, who wouldn't want to 
be a part of a company where web components reign supreme? Personally, I believe web components 
are the holy grail of app development, and without them, well, let's just say you can't build anything 
remotely decent. So, naturally, ING's focus on web components is a match made in heaven for me.
    </p>
    <p>
        But that's not all. What really attracts me to ING is its sheer size. It's so massive that nobody would even 
notice if I'm not that good. I mean, who needs competence when you have the luxury of getting lost in 
a sea of employees? It's the perfect environment to fly under the radar and enjoy the illusion of being 
a coding prodigy. With such a colossal company, I can rest assured that my shortcomings won't be 
scrutinized, and I'll have plenty of opportunities to learn and grow without anyone batting an eye.
    </p>
</article>

<article>
    <h3>Skills</h3>
    <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>Scrum</li>
        <li>Cypress</li>
        <li>GraphQL</li>
        <li>Agile</li>
        <li>Jest</li>
        <li>JQuery</li>
        <li>AngularJS</li>
        <li>Ember</li>
        <li>Laravel</li>
        <li>SVN</li>
        <li>SAFe</li>
    </ul>
</article>

<article>
    <h3>Projects via iO</h3>

    <section>
        <h4>Frontend developer</h4>
        <h5>Bolletje</h5>
        <p>
            Beau has developed a completely new dashboard application for Bolletje with 
Angular 5/6 based on existing specifications. The purpose of the application is to 
provide insight into the log data of Bolletje hardware. Through good monitoring and 
data aggregation, better service can be provided to the customers of Bolletje goods. 
The dashboard tooling is being rolled out for goods worldwide. 
        </p>
        <p>
            Logging data is collected via a datacentre and is all displayed on the dashboard. 
            Complex analyses can be performed in the dashboard to help clients run their hardware 
            as productively as possible. In addition to the development of the software, Beau was 
            responsible for the first production release of the dashboard. Beau has become the lead 
            developer on this project within his scrum team. Recently he switched to the innovation 
            team to work on the next improved version of this software.
        </p>
    </section>

    <section>
        <h4>Frontend developer</h4>
        <h5>Bank2</h5>
        <p>

        </p>
    </section>

    <section>
        <h4>Frontend developer</h4>
        <h5>MoneyMaker</h5>
        <p>

        </p>
    </section>

    <section>
        <h4>Sabbatical</h4>
        <h5>Rethinking live</h5>
        <p>

        </p>
    </section>
</article>

<article>
    <h3>Work experience</h3>
</article>

<article>
    <h3>Education</h3>
</article>

<article>
    <h3>Languages</h3>
</article>

<article>
    <h3>Publications</h3>
</article>

<article>
    <h3>Side projects</h3>
</article>














<%- include('./partials/foot.ejs') %>