@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* light mode  & dark mode */
:root{
    --body-background: oklch(96.38% 0.03 92.32);
    --header-border-bottom: #68B0AB;
    --iO-logo: #1D1D1B;
    --text-color: black;
    --summary-hover-color:#4A7C59;
    --animation-container-color:#040F16;
    --logo-filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 1));
    --pink-color: #FF5964;
    --skills-social-color:#04E762;
}
@media (prefers-color-scheme:dark){
    :root{
        --body-background: oklch(16.09% 0.023 235.03);
        --header-border-bottom: #0094C6;
        --iO-logo:#FFFFFF;
        --text-color: #FAF3DD;
        --animation-container-color:#FAF3DD;
        --logo-filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 1));
        --skills-social-color:#96C5F1;
    }
}

html{
    font-family: 'Questrial', sans-serif;
    color: var(--text-color);
    scrollbar-gutter: stable;
}
body{
    background-color: var(--body-background);
    margin-left: 1rem;
    margin-right: 1rem;
}
.background-buttons, .hire-button, .simplify-cv{
    display:none;
}
.profile-picture, .profile-popover{
    display:none;
}

p{
    line-height: 1.4rem;;
}

.flexbox-svg-container{
    display:flex;
    justify-content: end;
    fill: var(--iO-logo);
    filter: var(--logo-filter);
}
.flexbox-svg-container svg{
    width:4rem;
}
.name{
    margin-top:0;
}
.skills-animation-container{
    background-color: var(--animation-container-color);
    width:100%;
    height:3rem;
    overflow:hidden;
    border-radius: 1rem;
    margin-top:2rem;
    display: flex;
}
.skills-animation1{
    display: flex;
    list-style: none;
    animation: skills1 20s linear infinite;
    padding-left: 0px;
}
.skills-animation2{
    display:flex;
    list-style: none;
    animation: skills1 20s linear infinite;
    padding-left: 10px;
}

.skills-animation li{
    padding-right:2rem;
    color: var(--body-background)
}
/* total widt 1 ul = 1263px */


@keyframes skills1{
    0%{
        transform:translateX(0%)
    }
    100%{
        transform:translateX(-1263px)
    }
}

@keyframes skills2{
    0%{
        transform:translateX(-100%)
    }
    100%{
        transform:translateX(-270%)
    }
}

.introduction{
    padding:1rem 0rem 1rem 0rem;
    margin-top:1rem;
}

.video-container{
    display:none;
}

/* met onderstaande code wordt het overzichtelijker */
.group-together{
    margin-top:-1rem;
}
summary{
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

    border-bottom: 2px solid #68B0AB;
    width:100%;
    display:flex;
    justify-content: space-between;
}

/* onderstaande icons hiervandaan: https://www.symbolcopy.com/triangle-symbols.html */
details[open] summary::after{
    content: "▲";
}
details summary::after{
    content: "▼";
}
details:hover summary{

    cursor: pointer;
}

summary::marker {
    content: "";
}


/* code hieronder is nog niet noodzakelijk */
article p{
    overflow-wrap: break-word;
}
@supports (text-wrap:balance) {
    article p{
        text-wrap: balance;
    }
}

/* skills layout */
.skills-grid-container{
    list-style: none;
    padding-left:0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
}
.skills-grid-container li{
    padding:1rem 1rem 1rem 1rem;
    background-color: var(--skills-social-color);
    border-radius: 1rem;
    color:black;
    display:flex;
    justify-content: center;
}

.techniques-container{
    list-style: none;
    padding-left:0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
}
.techniques{
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--skills-social-color);
    border-radius: 1rem;
    color: black;
    display: flex;
    justify-content: center;
}

/* socials links */
.socials{
    display:flex;
    flex-direction: row;
}
.social-links{
    color: var(--skills-social-color);
    font-size: 2rem;
    margin-right:2rem;

}

/* links */

.link{
    color:var(--header-border-bottom);
}
.link:hover{
    text-decoration: underline var(--pink-color);
}

footer{
    margin-bottom: 5rem;
}

/* simplified version */
.display-none{
    display:none;
}
.display-block{
    display:block;
}

/* mediaqueries */

@media screen and (min-width: 63em){
    .flexbox-desktop{
        display:flex;
        justify-content: start;
    }
    /* background source: https://www.svgshapes.in/, https://svgwave.in/ */
    body{
        background: url('/asset.svg');
        background-color:rgba(4, 15, 22, .8) ;
        background-size: 10%;
        /* animation: moving-background 340s linear infinite; */
    }

    /* namen nog aanpassen zodat het klopt */
    body.green{
        background: url('/background2.svg');
    }
    /* https://svgwave.in/ */
    body.blue{
        background: url('/background-animated.svg');
        background-repeat:no-repeat;
    }

    .background-buttons.js-enabled{
        display: flex;
        flex-direction: column;
        z-index: 100;
        position:absolute;
        background-color: var(--body-background);
        padding:.5rem;
        border-radius: 1rem;
        max-width: 8rem;
    }
    input{
        cursor: pointer;
    }
    .hire-button{
        display:block;
        position:absolute;
        right:1rem;
        height:216.6px;
        width:144px;
        border-radius:1rem;
        /* z-index:1000; */
        border:none;
        background-color:var(--body-background);
        font-size:2rem;
        color: var(--text-color);
        cursor:pointer;
        transition: .3s;

    }
    .hire-lottie{
        position:absolute;
        top:0rem;
        left:0rem;
    }
    .compare-cv{
        top: 25rem;
        transition: .8s;
    }

    .simplify-cv.js-enabled{
        display:block;
        position:absolute;
        left:1rem;
        top: 25rem;
        height:216.6px;
        width:144px;
        border-radius:1rem;
        border:none;
        background-color:var(--body-background);
        font-size:2rem;
        color: var(--text-color);
        cursor:pointer;
        z-index: 100;
        transition: .8s;
    }
    .simplify-cv:hover, .compare-cv:hover, .hire-button:hover{
        background-color: var(--skills-social-color);  
        color:black;
    }
    .simplify-cv-lottie, .compare-cv-lottie{
        display: none;
        max-width: 130px;
        position: relative;
        top:-5rem;
    }
    .simplify-cv:hover .simplify-cv-lottie, .compare-cv:hover .compare-cv-lottie{
        display:block;
    }
    .simplify-cv:hover{
        padding-top:2rem;
    }
    .compare-cv:hover{
        padding-top:1rem;
    }
    .profile-popover{
        all: unset;
    }
    .profile-picture{
        display:block;
        width:10rem;
        height:10rem;
        object-fit: cover;
        background-color: var(--animation-container-color);
        border-radius: 30%;
        position: absolute;
        right:2.5rem;
        top:2.5rem;
    }
    .profile-picture:hover{
        cursor:pointer;
    }
    .profile-popover-img{
        width:25rem;
        height:25rem;
        object-fit: cover;

    }
    fieldset{
        display: flex;
        flex-direction: column;
        align-items: start;
        border:none;
        max-width:max-content;
    }
    
    input[type='radio']{
        width:3rem;
        height:3rem;
    }
    .flexbox-svg-container svg{
        width:9rem;
    }
    main{
        min-width: 600px;
        max-width: 60%;
        background-color: var(--body-background);
        padding:2.5rem;
        border-radius: 1rem;
        margin:auto;
        position: relative;
        top:-7rem;
    }

    main.compare-clicked{
        display:flex;
        gap:1rem;
        /* background-color: green; */
    }

    /* .first-resume, .second-resume{
        width:50%;
        
    } */
    
  


    /* banner animatie */
    @keyframes skills{
        0%{
            transform:translateX(63em)
        }
        100%{
            transform:translateX(-80em)
        }
    }

    summary{
        border-bottom: 2px solid #68B0AB;
        /* max-width: 35em; */
    }
    p{
        max-width: 35em;
    }

        /* skills layout */
    .skills-grid-container{
        list-style: none;
        padding-left:0rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 10px;
        max-width: 35em;
    }
    .skills-grid-container li, .skills-grid-container-refined li{
        padding:1rem 1rem 1rem 1rem;
        background-color: var(--skills-social-color);
        border-radius: 1rem;
        color:black;
        display:flex;
        justify-content: center;
    }
    .skills-grid-container li:hover{
        cursor: pointer;
    }
    
    .video-container{
        display:block;
    }
    .video1, .video2{
        position:absolute;
        visibility: hidden;
    }
    .video1.skill-clicked, .video2.skill-clicked{
        visibility: visible;
    }
    .skills-flex-container{
        display:flex;
    }


    
    .skills-grid-container-refined{
        list-style: none;
        padding-left:0rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        grid-gap: 10px;
        max-width: 55em;
        margin-top: 2rem;
    }

    /* simplified version */
.display-none{
    display:none;
}
.display-block{
    display:block;
}
}

@media (prefers-reduced-motion) {
    .skills-animation, .skills-animation-container{
        display:none;
    }
    .video-container{
        display:none;
    }
    body.blue{
        background-color:oklch(78.94% 0.083 231.25);
        background: url('/background3.svg');
        background-repeat:no-repeat;
    }
    lottie-player{
        display:none;
    }
    .simplify-cv:hover .simplify-cv-lottie, .compare-cv:hover .compare-cv-lottie{
        display:none;
    }
    .simplify-cv:hover, .compare-cv:hover{
        padding-top:0rem;
    }
}