@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* light mode  & dark mode */
:root{
    --body-background: #FAF3DD;
    --header-border-bottom: #68B0AB;
    --iO-logo-green:#4A7C59;
    --text-color: black;
}
@media (prefers-color-scheme:dark){
    :root{
        --body-background: #040F16;
        --header-border-bottom: #0094C6;
        --iO-logo-green:#6FA27D;
        --text-color: #FAF3DD;
    }
}

html{
    font-family: 'Questrial', sans-serif;
    color: var(--text-color)
}
body{
    background-color: var(--body-background);
    margin-left: 1rem;
    margin-right:1rem;
}

/* onderstaande codes checken of flexbox kan worden gebruikt of niet */
.flexbox-svg-container{
    float:right;
}
.name{
    clear:right;
    margin-top:1rem;
}
@supports (display: flex) {
    .flexbox-svg-container{
        display:flex;
        justify-content: end;
        float:none;
    }
    .name{
        clear:none;
        margin-top:0;
    }
}

.svg-circle{
    fill: var(--body-background);
}

/* skills animation (alleen zichtbaar bij js-enabled) */
.skills-animation{
    display:none;
}


/* article styling */
article > h3{
    border-bottom: 2px solid #68B0AB;
    width:50%;
}
/* met onderstaande code wordt het overzichtelijker */
.group-together{
    margin-top:-1rem;
}
summary{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

    border-bottom: 2px solid #68B0AB;
    width:50%;
}
summary::marker {
    content: "";
  }


/* code hieronder is nog niet noodzakelijk */
article p{
    overflow-wrap: break-word;
}
@supports (text-wrap:balance) {
    article p{
        text-wrap: balance;
    }
}

footer{
    margin-bottom: 5rem;
}